body {
    font-family: Arial, sans-serif;
    background-color: #0f6be4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #1a73e8;
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

h2 {
    color: #22e5ff;
    text-align: center;
    font-size: 2em;
    margin: 10px 0;
}

h3{
    color:aliceblue;
}